name: Build and test
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: ${{ matrix.os }} with Node.js ${{ matrix.node-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        node-version: [16, 18, 20, 22, 24]
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm install

      - name: Run tests on UNIX platforms
        if: matrix.os != 'windows-latest'
        run: node tst/normal.js && sudo node tst/elevated.js

      # TODO: non-admin check; see https://github.community/t/windows-runner-with-non-admin-user/18175/6
      - name: Run tests on Windows
        if: matrix.os == 'windows-latest'
        run: node tst/elevated.js
