name: Build and test
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: ${{ matrix.os }} with Node.js ${{ matrix.node-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-slim, macOS-latest, windows-latest]
        node-version: [16, 18, 20, 22, 24, 25]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: macOS + Node.js 16 dependencies fix
        if: matrix.os == 'macos-latest' && matrix.node-version == 16
        run: brew install python-setuptools

      - name: Windows + Node.js 16 dependencies fix
        if: matrix.os == 'windows-latest' && matrix.node-version == 16
        run: pip install setuptools

      - run: npm install

      - name: Run tests on UNIX platforms
        if: matrix.os != 'windows-latest'
        run: node tst/normal.js && sudo node tst/elevated.js

      # TODO: non-admin check; see https://github.community/t/windows-runner-with-non-admin-user/18175/6
      - name: Run tests on Windows
        if: matrix.os == 'windows-latest'
        run: node tst/elevated.js
